:root {
  --_font-family---instrument-sans: "Instrument Sans", sans-serif;
  --neutrals-950: #171717;
  --_font-size---paragraph--body-r: 16px;
  --_line-height---lh-140: 140%;
  --neutral-50: white;
  --neutrals-1000: #1a1a1a;
  --_letter-spacing---ls-0-48: -.48px;
  --transperent: #fff0;
  --_border-radius---r-32: 32px;
  --_border-radius---r-16: 16px;
  --general-dark: #111418;
  --neutrals-400: #888;
  --_font-size---paragraph--body-s: 14px;
  --_border-radius---r-24: 24px;
  --_font-size---heading--h1: 64px;
  --_font-size---paragraph--body-xl: 20px;
  --_letter-spacing---ls-1-2: -1.2px;
  --_font-size---paragraph--body-l: 18px;
  --neutrals-300: #b0b0b0;
  --neutral-100: #fafafa;
  --_line-height---lh-130: 130%;
  --_letter-spacing---ls-1: -1px;
  --_line-height---lh-120: 120%;
  --_letter-spacing---ls-0-9: -.9px;
  --_font-size---heading--h3: 44px;
  --_letter-spacing---ls-2-6: -2.6px;
  --_font-size---heading--h4: 32px;
  --_letter-spacing---ls-1-6: -1.6px;
  --_letter-spacing---ls-2-2: -2.2px;
  --neutrals-500: #6d6d6d;
  --_letter-spacing---ls-3-2: -3.2px;
  --_font-size---heading--h2: 52px;
  --_border-radius---r-20: 20px;
  --_line-height---lh-119: 119%;
  --black: #000;
  --_border-radius---r-30: 30px;
  --_font-size---heading--h5: 24px;
  --_line-height---lh-132: 132%;
  --_font-size---heading--h6: 20px;
  --neutrals-100: #f8f8fa;
  --neutrals-200: #d1d1d1;
  --_font-size---paragraph--body-xxl: 32px;
  --neutrals-600: #5d5d5d;
  --neutrals-700: #4f4f4f;
  --neutrals-800: #454545;
  --neutrals-900: #3d3d3d;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.body {
  font-family: var(--_font-family---instrument-sans);
  color: var(--neutrals-950);
  font-size: var(--_font-size---paragraph--body-r);
  line-height: var(--_line-height---lh-140);
}

.main-wrapper {
  position: relative;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  z-index: 9999;
  background-color: var(--neutral-50);
  width: 100%;
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  inset: 0% 0% auto;
}

.container-2 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.navbar-wrapper {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.brand {
  width: 120px;
  padding-left: 0;
}

.nav-menu {
  width: 100%;
  max-width: 400px;
}

.nav-button {
  justify-content: flex-end;
  align-items: center;
  display: inline-flex;
}

.nav-link-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  display: flex;
}

.nav-link {
  letter-spacing: var(--_letter-spacing---ls-0-48);
  height: 22px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  overflow: hidden;
}

.primary-button {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: inline-flex;
}

.primary-button-wrapper {
  z-index: 1;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border: 1px solid var(--transperent);
  border-radius: var(--_border-radius---r-32);
  background-color: var(--neutrals-950);
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.primary-button-texts {
  color: var(--neutral-50);
  letter-spacing: var(--_letter-spacing---ls-0-48);
  -webkit-text-decoration: none;
  text-decoration: none;
}

.paragraph {
  text-decoration: none;
}

.primary-button-contact {
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: none;
}

.section {
  background-color: var(--general-dark);
  color: var(--neutral-50);
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 32px;
}

.section.hero {
  background-color: var(--transperent);
  color: var(--neutrals-950);
  margin-top: 120px;
  padding-top: 0;
  padding-bottom: 0;
}

.section.about {
  background-color: var(--neutral-50);
  color: var(--neutrals-950);
  border-radius: 12px;
  margin-top: 0;
  padding-bottom: 40px;
}

.container-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.footer-wrap {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-copyright {
  color: var(--neutrals-400);
  border-top: 1px solid #303132;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}

.footer-logo-wrapper {
  width: 100%;
  max-width: 283px;
  display: inline-block;
}

.footer-left-wrapper {
  width: 100%;
  max-width: 283px;
}

.footer-logo {
  width: 100%;
}

.footer-right-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 496px;
  display: flex;
}

.footer-menu-title {
  font-weight: 500;
}

.footer-menu-wrapper {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 16px;
  display: flex;
}

.footer-link-wrapper {
  letter-spacing: var(--_letter-spacing---ls-0-48);
  -webkit-text-stroke-color: var(--neutrals-400);
  height: 22px;
  text-decoration: none;
  display: block;
  overflow: hidden;
}

.footer-link-text {
  color: var(--neutrals-400);
  text-decoration: none;
}

.copyright-left-text {
  font-size: var(--_font-size---paragraph--body-s);
}

.section-2 {
  margin-top: 95px;
}

.hero-wrapper {
  border-radius: var(--_border-radius---r-24);
  background-image: url('../images/hero-gif.gif');
  background-position: 0 0;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  padding: 40px;
  overflow: hidden;
}

.hero-wrap {
  grid-column-gap: 270px;
  grid-row-gap: 270px;
  flex-flow: column;
  display: flex;
}

.hero-top-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-logo-wrapper {
  width: 100%;
  max-width: 580px;
  height: 200px;
  overflow: hidden;
}

.hero-image {
  height: 100%;
}

.hero-top-content {
  text-align: right;
  width: 100%;
  max-width: 300px;
}

.hero-top-title {
  color: var(--neutral-50);
  font-size: var(--_font-size---heading--h1);
  letter-spacing: -1.9px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 100%;
}

.hero-top-details {
  color: var(--neutral-50);
  font-size: var(--_font-size---paragraph--body-xl);
  letter-spacing: var(--_letter-spacing---ls-1-2);
  margin-top: 8px;
}

.hero-bottom-wrapper {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.hero-details-wrapper {
  width: 100%;
  max-width: 464px;
}

.hero-dtails {
  color: var(--neutrals-300);
  font-size: var(--_font-size---paragraph--body-xl);
  letter-spacing: var(--_letter-spacing---ls-1-2);
  text-indent: 60px;
  margin-bottom: 0;
}

.hero-button-wrapper {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  max-width: 300px;
  height: 100%;
  padding: 12px 16px;
  display: flex;
}

.hero-button-wrap {
  background-color: var(--neutral-50);
  border-radius: 12px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  padding: 12px 16px;
  display: flex;
}

.hero-button-title {
  font-size: var(--_font-size---paragraph--body-xl);
  line-height: var(--_line-height---lh-130);
  letter-spacing: var(--_letter-spacing---ls-1);
  margin-bottom: 2px;
  font-weight: 500;
}

.hero-button-link {
  background-color: var(--neutrals-950);
  color: var(--neutral-50);
  font-size: var(--_font-size---paragraph--body-s);
  line-height: var(--_line-height---lh-120);
  letter-spacing: -.36px;
  border-radius: 32px;
  padding: 8px 12px;
  font-weight: 600;
  text-decoration: none;
}

.about-wrapper {
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  border-radius: var(--_border-radius---r-32);
  background-color: var(--neutral-100);
  flex-flow: column;
  padding: 80px 20px;
  display: flex;
}

.about-top-wrapper {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.section-top-link {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: var(--neutrals-950);
  font-size: var(--_font-size---paragraph--body-l);
  line-height: var(--_line-height---lh-140);
  letter-spacing: var(--_letter-spacing---ls-0-9);
  align-items: center;
  text-decoration: none;
  display: inline-flex;
}

.primary-top-button-text {
  height: 25px;
  overflow: hidden;
}

.primary-top-button-texts {
  padding-right: 3px;
}

.section-top-icon {
  z-index: 1;
  background-color: var(--neutrals-950);
  border-radius: 50%;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  position: relative;
  overflow: hidden;
}

.about-title-wrapper {
  color: var(--neutrals-950);
  width: 100%;
  max-width: 928px;
}

.about-single-title {
  align-items: center;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}

.about-black-title {
  font-size: var(--_font-size---heading--h3);
  letter-spacing: var(--_letter-spacing---ls-2-6);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 8px;
  padding-right: 10px;
  font-weight: 500;
  overflow: hidden;
}

.about-wrap {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: space-between;
  display: flex;
}

.about-image-wrapper {
  z-index: 1;
  border-radius: var(--_border-radius---r-24);
  width: 100%;
  max-width: 432px;
  position: relative;
}

.about-image {
  box-sizing: border-box;
  border-radius: var(--_border-radius---r-24);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-content-wrapper {
  width: 100%;
  max-width: 696px;
}

.about-details-wrap {
  width: 100%;
  max-width: 464px;
}

.about-details {
  color: var(--neutrals-400);
  font-size: var(--_font-size---paragraph--body-xl);
  letter-spacing: var(--_letter-spacing---ls-1-2);
  text-indent: 119px;
  margin-bottom: 0;
}

.about-content {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 75px;
  display: grid;
  overflow: hidden;
}

.about-single-wrap {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: column;
  width: 100%;
  max-width: 100%;
  display: flex;
  overflow: hidden;
}

.about-top-content {
  background-color: var(--neutral-50);
  border-radius: 12px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.counter-number-wrap {
  font-size: var(--_font-size---heading--h3);
  line-height: var(--_line-height---lh-120);
  letter-spacing: var(--_letter-spacing---ls-2-2);
  align-items: flex-start;
  height: 53px;
  font-weight: 500;
  display: flex;
  overflow: hidden;
}

.about-number {
  color: var(--neutrals-500);
  font-size: var(--_font-size---paragraph--body-s);
  letter-spacing: -.28px;
}

.about-item-wrap {
  grid-column-gap: 160px;
  grid-row-gap: 160px;
  background-color: var(--neutral-50);
  border-radius: 12px;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
}

.about-item-title-wrapper {
  text-align: right;
  width: 100%;
}

.about-item-title {
  font-size: var(--_font-size---paragraph--body-xl);
  line-height: var(--_line-height---lh-130);
  text-align: right;
  width: 100%;
  max-width: 151px;
  margin-left: auto;
  font-weight: 500;
}

.about-item-details-wrapper {
  max-width: 298px;
}

.about-item-details {
  color: var(--neutrals-500);
  font-size: var(--_font-size---paragraph--body-r);
  letter-spacing: var(--_letter-spacing---ls-0-48);
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  body {
    --_font-size---paragraph--body-r: 16px;
    --_font-size---paragraph--body-s: 14px;
    --_font-size---heading--h1: 52px;
    --_font-size---paragraph--body-xl: 18px;
    --_font-size---paragraph--body-l: 16px;
    --_font-size---heading--h3: 32px;
    --_font-size---heading--h4: 28px;
    --_font-size---heading--h2: 44px;
    --_font-size---heading--h5: 22px;
    --_font-size---heading--h6: 18px;
    --_font-size---paragraph--body-xxl: 28px;
    --_border-radius---r-32: 24px;
    --_border-radius---r-16: 12px;
    --_border-radius---r-24: 20px;
    --_border-radius---r-20: 16px;
    --_border-radius---r-30: 24px;
    --_letter-spacing---ls-0-48: -.48px;
    --_letter-spacing---ls-1-2: -1px;
    --_letter-spacing---ls-1: -.6px;
    --_letter-spacing---ls-0-9: -.48px;
    --_letter-spacing---ls-2-6: -2px;
    --_letter-spacing---ls-1-6: -1.2px;
    --_letter-spacing---ls-2-2: -1.6px;
    --_letter-spacing---ls-3-2: -2.6px;
  }

  .container {
    max-width: 728px;
  }

  .nav-menu {
    background-color: var(--neutral-50);
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }

  .nav-link-wrapper {
    border-top: 1px solid var(--neutrals-1000);
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 20px;
    display: block;
  }

  .nav-link {
    margin-top: 20px;
  }

  .primary-button {
    display: block;
  }

  .primary-button-wrapper {
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
  }

  .menu-button {
    width: 30px;
    height: 25px;
    padding: 5px 4px;
  }

  .menu-button.w--open {
    background-color: var(--transperent);
  }

  .menu-line {
    border-radius: var(--_border-radius---r-16);
    background-color: var(--neutrals-950);
    width: 100%;
    height: 3px;
  }

  .menu-button-wrapper {
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .primary-button-contact {
    display: none;
  }

  .section {
    padding-top: 30px;
    padding-bottom: 24px;
  }

  .footer-logo {
    width: 70%;
  }

  .hero-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-image {
    width: 100%;
    height: auto;
  }

  .about-wrapper {
    padding: 60px 16px;
  }

  .about-top-wrapper {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .about-title-wrapper {
    text-align: center;
    max-width: 100%;
  }

  .about-black-title {
    font-size: var(--_font-size---heading--h4);
    letter-spacing: var(--_letter-spacing---ls-1-6);
    padding-top: 0;
    padding-bottom: 0;
  }

  .about-wrap {
    flex-flow: column;
    align-items: center;
  }

  .about-details-wrap {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .counter-number-wrap {
    height: 38px;
  }
}

@media screen and (max-width: 767px) {
  body {
    --_font-size---paragraph--body-r: 16px;
    --_font-size---paragraph--body-s: 14px;
    --_font-size---heading--h1: 44px;
    --_font-size---paragraph--body-xl: 17px;
    --_font-size---paragraph--body-l: 16px;
    --_font-size---heading--h3: 28px;
    --_font-size---heading--h4: 24px;
    --_font-size---heading--h2: 40px;
    --_font-size---heading--h5: 20px;
    --_font-size---heading--h6: 16px;
    --_font-size---paragraph--body-xxl: 24px;
    --_border-radius---r-32: 20px;
    --_border-radius---r-16: 10px;
    --_border-radius---r-24: 16px;
    --_border-radius---r-20: 12px;
    --_border-radius---r-30: 20px;
    --_letter-spacing---ls-0-48: -.45px;
    --_letter-spacing---ls-1-2: -.6px;
    --_letter-spacing---ls-1: -.4px;
    --_letter-spacing---ls-0-9: -.45px;
    --_letter-spacing---ls-2-6: -2px;
    --_letter-spacing---ls-1-6: -1px;
    --_letter-spacing---ls-2-2: -1.2px;
    --_letter-spacing---ls-3-2: -2.2px;
  }

  .nav-menu {
    padding-left: 25px;
    padding-right: 25px;
  }

  .primary-button-wrapper {
    display: block;
  }

  .menu-button {
    padding: 5px 4px;
  }

  .menu-line {
    border-radius: var(--_border-radius---r-16);
    height: 3px;
  }

  .section {
    padding-bottom: 20px;
  }

  .footer-right-wrapper {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .hero-logo-wrapper {
    height: auto;
  }

  .hero-top-title {
    letter-spacing: -.88px;
  }

  .hero-top-details {
    font-size: var(--_font-size---paragraph--body-l);
  }

  .hero-bottom-wrapper {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .hero-dtails {
    text-indent: 0;
  }

  .hero-button-wrapper {
    max-width: none;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .counter-number-wrap {
    height: 34px;
  }
}

@media screen and (max-width: 479px) {
  body {
    --_font-size---paragraph--body-r: 16px;
    --_font-size---paragraph--body-s: 14px;
    --_font-size---heading--h1: 40px;
    --_font-size---paragraph--body-xl: 16px;
    --_font-size---paragraph--body-l: 16px;
    --_font-size---heading--h3: 24px;
    --_font-size---heading--h4: 20px;
    --_font-size---heading--h2: 36px;
    --_font-size---heading--h5: 18px;
    --_font-size---heading--h6: 14px;
    --_font-size---paragraph--body-xxl: 20px;
    --_border-radius---r-32: 16px;
    --_border-radius---r-16: 10px;
    --_border-radius---r-24: 12px;
    --_border-radius---r-20: 10px;
    --_border-radius---r-30: 16px;
    --_letter-spacing---ls-0-48: -.42px;
    --_letter-spacing---ls-1-2: -.3px;
    --_letter-spacing---ls-1: -.2px;
    --_letter-spacing---ls-0-9: -.42px;
    --_letter-spacing---ls-2-6: -1.8px;
    --_letter-spacing---ls-1-6: -.6px;
    --_letter-spacing---ls-2-2: -1px;
    --_letter-spacing---ls-3-2: -2px;
  }

  .container {
    max-width: none;
  }

  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .brand {
    width: 100px;
  }

  .nav-menu {
    padding-left: 20px;
    padding-right: 20px;
  }

  .primary-button {
    display: none;
  }

  .primary-button-wrapper {
    margin-right: 0;
    display: inline-block;
  }

  .menu-button {
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
    width: 30px;
    height: 25px;
    padding: 5px 4px;
  }

  .menu-line {
    border-radius: var(--_border-radius---r-16);
    background-color: var(--neutrals-950);
    width: 100%;
    height: 3px;
  }

  .menu-button-wrapper {
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .primary-button-contact {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    display: flex;
  }

  .section.hero {
    margin-top: 100px;
  }

  .footer-wrap {
    flex-flow: column;
  }

  .footer-copyright {
    justify-content: center;
  }

  .footer-right-wrapper {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .hero-wrapper {
    padding: 20px;
  }

  .hero-wrap {
    grid-column-gap: 150px;
    grid-row-gap: 150px;
  }

  .hero-top-wrapper {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-flow: column;
  }

  .hero-image {
    width: 60%;
  }

  .hero-top-content {
    text-align: left;
    max-width: none;
  }

  .hero-dtails {
    text-indent: 40px;
  }

  .white-text {
    color: var(--neutral-100);
  }

  .about-wrapper {
    padding: 40px 10px;
  }

  .about-black-title {
    line-height: var(--_line-height---lh-120);
    letter-spacing: var(--_letter-spacing---ls-2-2);
  }

  .about-content {
    grid-template-columns: 1fr;
  }

  .counter-number-wrap {
    height: 29px;
  }
}


