:root {
  --_font-family---instrument-sans: "Instrument Sans", sans-serif;
  --neutrals-950: #171717;
  --_font-size---paragraph--body-r: 16px;
  --_line-height---lh-140: 140%;
  --neutral-50: white;
  --neutrals-1000: #1a1a1a;
  --_letter-spacing---ls-0-48: -.48px;
  --transperent: #fff0;
  --_border-radius---r-32: 32px;
  --_border-radius---r-16: 16px;
  --_font-size---heading--h1: 64px;
  --_letter-spacing---ls-3-2: -3.2px;
  --neutral-100: #fafafa;
  --_font-size---heading--h2: 52px;
  --_border-radius---r-20: 20px;
  --_line-height---lh-119: 119%;
  --_letter-spacing---ls-2-6: -2.6px;
  --black: #000;
  --_font-size---heading--h3: 44px;
  --_border-radius---r-24: 24px;
  --_line-height---lh-120: 120%;
  --_letter-spacing---ls-2-2: -2.2px;
  --_font-size---heading--h4: 32px;
  --_border-radius---r-30: 30px;
  --_line-height---lh-130: 130%;
  --_letter-spacing---ls-1-6: -1.6px;
  --_font-size---heading--h5: 24px;
  --_line-height---lh-132: 132%;
  --_letter-spacing---ls-1-2: -1.2px;
  --_font-size---heading--h6: 20px;
  --_letter-spacing---ls-1: -1px;
  --neutrals-100: #f8f8fa;
  --_font-size---paragraph--body-s: 14px;
  --neutrals-200: #d1d1d1;
  --_letter-spacing---ls-0-9: -.9px;
  --neutrals-300: #b0b0b0;
  --_font-size---paragraph--body-l: 18px;
  --neutrals-400: #888;
  --_font-size---paragraph--body-xl: 20px;
  --neutrals-500: #6d6d6d;
  --_font-size---paragraph--body-xxl: 32px;
  --neutrals-600: #5d5d5d;
  --neutrals-700: #4f4f4f;
  --neutrals-800: #454545;
  --neutrals-900: #3d3d3d;
  --general-dark: #111418;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.body {
  font-family: var(--_font-family---instrument-sans);
  color: var(--neutrals-950);
  font-size: var(--_font-size---paragraph--body-r);
  line-height: var(--_line-height---lh-140);
}

.main-wrapper {
  position: relative;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  z-index: 9999;
  background-color: var(--neutral-50);
  width: 100%;
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  inset: 0% 0% auto;
}

.container-2 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.navbar-wrapper {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.brand {
  width: 150px;
  padding-left: 0;
}

.nav-menu {
  width: 100%;
  max-width: 400px;
}

.nav-button {
  justify-content: flex-end;
  align-items: center;
  display: inline-flex;
}

.nav-link-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  display: flex;
}

.nav-link {
  letter-spacing: var(--_letter-spacing---ls-0-48);
  height: 22px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  overflow: hidden;
}

.primary-button {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: inline-flex;
}

.primary-button-wrapper {
  z-index: 1;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border: 1px solid var(--transperent);
  border-radius: var(--_border-radius---r-32);
  background-color: var(--neutrals-950);
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.primary-button-texts {
  color: var(--neutral-50);
  letter-spacing: var(--_letter-spacing---ls-0-48);
  -webkit-text-decoration: none;
  text-decoration: none;
}

.paragraph {
  text-decoration: none;
}

.primary-button-contact {
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: none;
}

@media screen and (max-width: 991px) {
  body {
    --_font-size---paragraph--body-r: 16px;
    --_font-size---heading--h1: 52px;
    --_font-size---heading--h2: 44px;
    --_font-size---heading--h3: 32px;
    --_font-size---heading--h4: 28px;
    --_font-size---heading--h5: 22px;
    --_font-size---heading--h6: 18px;
    --_font-size---paragraph--body-s: 14px;
    --_font-size---paragraph--body-l: 16px;
    --_font-size---paragraph--body-xl: 18px;
    --_font-size---paragraph--body-xxl: 28px;
    --_border-radius---r-32: 24px;
    --_border-radius---r-16: 12px;
    --_border-radius---r-20: 16px;
    --_border-radius---r-24: 20px;
    --_border-radius---r-30: 24px;
    --_letter-spacing---ls-0-48: -.48px;
    --_letter-spacing---ls-3-2: -2.6px;
    --_letter-spacing---ls-2-6: -2px;
    --_letter-spacing---ls-2-2: -1.6px;
    --_letter-spacing---ls-1-6: -1.2px;
    --_letter-spacing---ls-1-2: -1px;
    --_letter-spacing---ls-1: -.6px;
    --_letter-spacing---ls-0-9: -.48px;
  }

  .container {
    max-width: 728px;
  }

  .nav-menu {
    background-color: var(--neutral-50);
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }

  .nav-link-wrapper {
    border-top: 1px solid var(--neutrals-1000);
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 20px;
    display: block;
  }

  .nav-link {
    margin-top: 20px;
  }

  .primary-button {
    display: block;
  }

  .primary-button-wrapper {
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
  }

  .menu-button {
    width: 30px;
    height: 25px;
    padding: 5px 4px;
  }

  .menu-button.w--open {
    background-color: var(--transperent);
  }

  .menu-line {
    border-radius: var(--_border-radius---r-16);
    background-color: var(--neutrals-950);
    width: 100%;
    height: 3px;
  }

  .menu-button-wrapper {
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .primary-button-contact {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  body {
    --_font-size---paragraph--body-r: 16px;
    --_font-size---heading--h1: 44px;
    --_font-size---heading--h2: 40px;
    --_font-size---heading--h3: 28px;
    --_font-size---heading--h4: 24px;
    --_font-size---heading--h5: 20px;
    --_font-size---heading--h6: 16px;
    --_font-size---paragraph--body-s: 14px;
    --_font-size---paragraph--body-l: 16px;
    --_font-size---paragraph--body-xl: 17px;
    --_font-size---paragraph--body-xxl: 24px;
    --_border-radius---r-32: 20px;
    --_border-radius---r-16: 10px;
    --_border-radius---r-20: 12px;
    --_border-radius---r-24: 16px;
    --_border-radius---r-30: 20px;
    --_letter-spacing---ls-0-48: -.45px;
    --_letter-spacing---ls-3-2: -2.2px;
    --_letter-spacing---ls-2-6: -2px;
    --_letter-spacing---ls-2-2: -1.2px;
    --_letter-spacing---ls-1-6: -1px;
    --_letter-spacing---ls-1-2: -.6px;
    --_letter-spacing---ls-1: -.4px;
    --_letter-spacing---ls-0-9: -.45px;
  }

  .nav-menu {
    padding-left: 25px;
    padding-right: 25px;
  }

  .primary-button-wrapper {
    display: block;
  }

  .menu-button {
    padding: 5px 4px;
  }

  .menu-line {
    border-radius: var(--_border-radius---r-16);
    height: 3px;
  }
}

@media screen and (max-width: 479px) {
  body {
    --_font-size---paragraph--body-r: 16px;
    --_font-size---heading--h1: 40px;
    --_font-size---heading--h2: 36px;
    --_font-size---heading--h3: 24px;
    --_font-size---heading--h4: 20px;
    --_font-size---heading--h5: 18px;
    --_font-size---heading--h6: 14px;
    --_font-size---paragraph--body-s: 14px;
    --_font-size---paragraph--body-l: 16px;
    --_font-size---paragraph--body-xl: 16px;
    --_font-size---paragraph--body-xxl: 20px;
    --_border-radius---r-32: 16px;
    --_border-radius---r-16: 10px;
    --_border-radius---r-20: 10px;
    --_border-radius---r-24: 12px;
    --_border-radius---r-30: 16px;
    --_letter-spacing---ls-0-48: -.42px;
    --_letter-spacing---ls-3-2: -2px;
    --_letter-spacing---ls-2-6: -1.8px;
    --_letter-spacing---ls-2-2: -1px;
    --_letter-spacing---ls-1-6: -.6px;
    --_letter-spacing---ls-1-2: -.3px;
    --_letter-spacing---ls-1: -.2px;
    --_letter-spacing---ls-0-9: -.42px;
  }

  .container {
    max-width: none;
  }

  .brand {
    width: 100px;
  }

  .nav-menu {
    padding-left: 20px;
    padding-right: 20px;
  }

  .primary-button {
    display: none;
  }

  .primary-button-wrapper {
    margin-right: 0;
    display: inline-block;
  }

  .menu-button {
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
    width: 30px;
    height: 25px;
    padding: 5px 4px;
  }

  .menu-line {
    border-radius: var(--_border-radius---r-16);
    background-color: var(--neutrals-950);
    width: 100%;
    height: 3px;
  }

  .menu-button-wrapper {
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .primary-button-contact {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    display: flex;
  }
}


